# input-modifier ruleset

ACTION!="add", GOTO="imEnd"

KERNEL=="uinput", SUBSYSTEM=="misc", GROUP="input", MODE="0660", TAG+="uaccess"

LABEL=="imEnd"
